html, body{background-image: url(Images/fondo.png)}

.Historia{position:absolute; height: 850px; width: 900px; margin-top: auto; background-color: cornsilk; border-radius: 30px; margin-left: 230}

img{margin-left: 250; height: 220;width: 350; margin-top: 30}